{:module-uris {:tick ["/r/tick.js"], :ui-binaryclock ["/r/ui-binaryclock.js"], :ui-container ["/r/ui-container.js"], :funny ["/r/funny.js"], :ui-input ["/r/ui-input.js"], :ui-spaces ["/r/ui-spaces.js"], :cljs-pprint-frisk ["/r/cljs-pprint-frisk.js"], :webly [], :ui-ionslider ["/r/ui-ionslider.js"], :ui-popover ["/r/ui-popover.js"], :ui-rnd ["/r/ui-rnd.js"], :ui-site ["/r/ui-site.js"], :ui-gridlayout ["/r/ui-gridlayout.js"], :adder ["/r/adder.js"], :ui-video ["/r/ui-video.js"], :ui-spark ["/r/ui-spark.js"], :ui-codemirror ["/r/ui-codemirror.js"], :ui-repl ["/r/ui-repl.js"]}, :module-infos {:tick #{:webly}, :ui-binaryclock #{:webly}, :ui-container #{:webly}, :funny #{:webly}, :ui-input #{:webly}, :ui-spaces #{:webly}, :cljs-pprint-frisk #{:webly}, :webly nil, :ui-ionslider #{:webly}, :ui-popover #{:webly}, :ui-rnd #{:webly}, :ui-site #{:webly}, :ui-gridlayout #{:webly}, :adder #{:webly}, :ui-video #{:webly}, :ui-spark #{:webly}, :ui-codemirror #{:webly}, :ui-repl #{:webly}}}